body {
  margin: 0;
  padding: 0;
}

.title{
  padding: 20px 0;
}

h1 {
  margin: 0;;

}

.welcome {
  position: relative;

}

.welcome-message {
  width: 70%;
  margin: auto;
  padding: 20px 0;
  line-height: 150%;
}

.search-icon {
  position: absolute;
  left: 40px;
  top: 18px;

}

.detail-img {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  /* height: 300px; */
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
}


.button-collapse {
  color: #039be5;
}

.results-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: auto;
}

.event-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #64B5F6;
  margin: 20px;
}

.small-image {
  padding: 0;
  margin: 0;
  height: 100%;
}


.event-image {
  flex: 1;
  display: flex;


}

.event-information {
  flex: 4;
  padding: 10px;
  color: black;

}

.event-information h4 {
  margin: 15px 10px;
}

.event-information p {
  margin: 10px;
}

.detail-container {
  display: flex;
}


.image-container {
  flex: 2;
}

.detail-information {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px;
  color: black;
}

.detail-information h3 {
  flex: 0 0 100%;
  margin: 15px 0;
}

.detail-information p {
  line-height: 1.5;
  margin: 5px 0;
  padding: 0;
}

.detail-box {
  flex: 0 0 50%;
}

.covid-detail {
  flex: 0 0 50%;
}

.save-button-container {
  flex: 0 0 100%;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}


.save-button {

  margin: 5px 0;
  width: 100%;
  align-items: center;
  appearance: none;
  background-color: #1f455e;
  background-image: linear-gradient(1deg, #1e0bc7, #5638c4 99%);

  background-size: calc(100% + 20px) calc(100% + 20px);
  /* border-radius: 10px; */
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.save-button:active,
.save-button:focus {
  outline: none;
}

.save-button:hover {
  background-position: -20px -20px;
}

.save-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}



.no-data {
  text-align: center;
  color: rgb(165, 40, 40);
  line-height: 2;
}


.search {
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  border-radius: 100px;

}



/* The Modal (background) */
.modal_background {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /*Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

  /* position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px; */


}

/* Modal Content */
.modal-content {
  /* position: relative; */
  background-color: #fefefe;
  /* position: fixed;
  left: 50%;
  top: 50%; */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

.modal-content a {
  color: rgb(165, 40, 40);
  font-weight: bold;
}

.modal-content a:hover {
  text-decoration: underline;
}

/* The Close Button */
.btn-content {
  display: flex;
  justify-content: center;
}

#closeBtn {
  margin: 0 auto;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

#closeBtn.save-button,
#closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Pagination Begin */



.pagination-container {
  display: flex;
  justify-content: center;
}

pagination {
  margin: auto;
}

/* Pagination links */
.pagination a {
  color: black;
  /* float: left; */
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a.save-button:not(.active) {
  background-color: #ddd;
}

/* Pagination End */

/* Saved Button */
.saved-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  margin-top: 35px;

  width: 100%;
  /* border: 2px solid #73AD21; */
}


.reset {

  width: 100%;
  margin: 5px 0;
  align-items: center;
  appearance: none;
  background-color: #80b2d3;
  background-image: linear-gradient(1deg, #1f2257, #708796 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  /* border-radius: 100px; */
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.reset:active,
.reset:focus {
  outline: none;
}

.reset:hover {
  background-position: -20px -20px;
}

.reset:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

/* #event-save-button {
  position: relative;
} */


.message-container {
  z-index: 1;
  /* width: 300px;
  height: 200px;
  background: #149BF3;
  opacity: .4;  */
  position: fixed;
  top: 50%;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.parallax-container {
  height: 25vh;
}

header {
  font-family: 'Concert One', cursive;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  height: 100%;
}


.red-background {
  background: red;
}

.yellow-background {
  background: yellow;
}

.green-background {
  background: green;

}

.gray-background {
  background: gray;

}

.foot-message{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}



@media screen and (max-width: 768px) {


  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  .search-icon {
    position: static;
    /* margin: 20px 0; */

  }


  .detail-container {
    flex-wrap: wrap;
  }


  .image-container {
    flex: 0 0 100%;
  }


  .detail-information {
    flex: 0 0 100%;

  }

  .modal_background {
    padding-left: 0;
    padding-right: 0;
  }

  .modal-content {
    width: 100%;
    margin: auto;

  }

  .pagination a {
    color: black;
    padding: 8px 10px;

  }

  /* .responsive {
    display: block;
  } */
  .event-image {
    flex: 0 0 100%;
    justify-content: center;
    display: flex;
  }

  .event-image a {
    flex: 0 0 100%;
  }


  .small-image {
    width: 100%;

  }

  .event-information {
    flex: 0 0 100%;

  }

  .results-area {
    width: 100%;

  }
}